In [6]:
## creating a Class BasketOfProducts to add and remove from the system

import uuid  # uuid Generates random ID's for each product
import pandas as pd  # install Pandas (pip install pandas) will helps you to convert json to table
basket = [] # create empty list to add in to products list
class BasketOfProducts:
    def __init__(self, name, description, seller, currency, price): # Initialise all the inputs to insert
        self.name = name                 # name of the product
        self.description = description   # product description
        self.seller = seller             # who is selling the product
        self.currency = currency         # exchange base 
        self.price = price               # price of the product
        self.id = str(uuid.uuid4())


    def add(self):
        """
        this methos will add each product into the basket and returns the total items in the basket
        
        returns A TABLE of this format
         _______________________________________________________________________________________________
        |   ID    |   NAME      |    DESCRIPTION     |       SELLER         |     CURRENCY  |  PRICE    |
        |_________|_____________|____________________|______________________|_______________|___________|
        |         |             |                    |                      |               |           |
        |         |             |                    |                      |               |           |
        |         |             |                    |                      |               |           |
        |_________|_____________|____________________|______________________|_______________|___________|
        """
        product = {'ID':self.id,
        'NAME' : self.name,
        'DESCRIPTION': self.description,
        'SELLER': self.seller,
        'CURRENCY': self.currency,
        'PRICE': self.price}
        basket.append(product)
        return pd.DataFrame(basket)
    

    def remove(self, instance):
        """
        this methos will remove each single product in the basket and returns the total items remained the basle
        returns A TABLE of this format
         _______________________________________________________________________________________________
        |   ID    |   NAME      |    DESCRIPTION     |       SELLER         |     CURRENCY  |  PRICE    |
        |_________|_____________|____________________|______________________|_______________|___________|
        |         |             |                    |                      |               |           |
        |         |             |                    |                      |               |           |
        |         |             |                    |                      |               |           |
        |_________|_____________|____________________|______________________|_______________|___________|
        """
        proucts_after_removal = list(filter(lambda i: i['ID'] != instance, basket))
        return pd.DataFrame(proucts_after_removal)

## adding a product

In [7]:
basket_details_to_add = BasketOfProducts("Mobile","OnePlus*","Amazon Europe","EUR", €890)
basket_details_to_add.add()

SyntaxError: invalid character in identifier (<ipython-input-7-e3dee2c8d4a8>, line 1)

## adding a product

In [3]:
basket_details_to_add = BasketOfProducts("Mobile","Iphone 5s*","Ebay","EUR", €490)
basket_details_to_add.add()

,ID,NAME,DESCRIPTION,SELLER,CURRENCY,PRICE
0,0adfa060-6d2f-4adb-b5d1-1283101c2157,Mobile,OnePlus*,Amazon India pvt Ltd,INR,30000
1,2fbb3256-6239-41c0-8e0f-5c1bbec3145a,test,OnePlus*,Amazon India pvt Ltd,INR,40000

## remove a product

In [5]:
basket_details_to_add.remove('2fbb3256-6239-41c0-8e0f-5c1bbec3145a')

,ID,NAME,DESCRIPTION,SELLER,CURRENCY,PRICE
0,0adfa060-6d2f-4adb-b5d1-1283101c2157,Mobile,OnePlus*,Amazon India pvt Ltd,INR,30000