In [1]:
## creating a Class BasketOfProducts to add and remove from the system

import uuid  # uuid Generates random ID's for each product
import pandas as pd  # install Pandas (pip install pandas) will helps you to convert json to table
basket = [] # create empty list to add in to products list
class BasketOfProducts:
    def __init__(self, name, description, seller, currency, price): # Initialise all the inputs you would like to insert into BasketOfProducts
        self.name = name                                                               # name of the product
        self.description = description                                                 # product description
        self.seller = seller                                                           # who is selling the product
        self.currency = currency                                                       # exchange base 
        self.price = price                                                             # price of the product
        self.id = str(uuid.uuid4())


    def add(self):
        """
        this methos will add each product into the basket and returns the total items in the basket
        
        returns A TABLE of this format
         _______________________________________________________________________________________________
        |   ID    |   NAME      |    DESCRIPTION     |       SELLER         |     CURRENCY  |  PRICE    |
        |_________|_____________|____________________|______________________|_______________|___________|
        |         |             |                    |                      |               |           |
        |         |             |                    |                      |               |           |
        |         |             |                    |                      |               |           |
        |_________|_____________|____________________|______________________|_______________|___________|
        """
        product = {'ID':self.id,
        'NAME' : self.name,
        'DESCRIPTION': self.description,
        'SELLER': self.seller,
        'CURRENCY': self.currency,
        'PRICE': self.price}
        basket.append(product)
        return pd.DataFrame(basket)
    

    def remove(self, instance):
        """
        this methos will remove each single product in the basket and returns the total items remained the basle
        returns A TABLE of this format
         _______________________________________________________________________________________________
        |   ID    |   NAME      |    DESCRIPTION     |       SELLER         |     CURRENCY  |  PRICE    |
        |_________|_____________|____________________|______________________|_______________|___________|
        |         |             |                    |                      |               |           |
        |         |             |                    |                      |               |           |
        |         |             |                    |                      |               |           |
        |_________|_____________|____________________|______________________|_______________|___________|
        """
        proucts_after_removal = list(filter(lambda i: i['ID'] != instance, basket))
        return pd.DataFrame(proucts_after_removal)

## adding a product

In [2]:
basket_details_to_add = BasketOfProducts("Mobile","OnePlus*","Amazon India pvt Ltd","INR", 30000)
basket_details_to_add.add()

,ID,NAME,DESCRIPTION,SELLER,CURRENCY,PRICE
0,83da6ccb-b3d0-4220-be63-5e94210fdc59,Mobile,OnePlus*,Amazon India pvt Ltd,INR,30000

## adding a product

In [3]:
basket_details_to_add = BasketOfProducts("test","OnePlus*","Amazon India pvt Ltd","INR", 40000)
basket_details_to_add.add()

,ID,NAME,DESCRIPTION,SELLER,CURRENCY,PRICE
0,83da6ccb-b3d0-4220-be63-5e94210fdc59,Mobile,OnePlus*,Amazon India pvt Ltd,INR,30000
1,10e35dce-ae20-49f9-a1ed-15611ef07bb7,test,OnePlus*,Amazon India pvt Ltd,INR,40000

## remove a product

In [5]:
basket_details_to_add.remove('10e35dce-ae20-49f9-a1ed-15611ef07bb7')

,ID,NAME,DESCRIPTION,SELLER,CURRENCY,PRICE
0,83da6ccb-b3d0-4220-be63-5e94210fdc59,Mobile,OnePlus*,Amazon India pvt Ltd,INR,30000